/*@import url(../../node_modules/bootstrap/dist/css/bootstrap.css);*/
/* CSS Document */

/*caja de control*/
.caja
{
    background-color: #daedc2;
    margin: 0px 0px 10px 0px;
    padding: 5px 5px 5px 5px;
    border-radius: 7px 7px 7px 7px;
    border-width: 10px;
    border: solid;
    border-color: #4f8038;
    width: 98%;
    overflow: auto;
}

/*tablas con datos*/
.tabla
{
    background-color: #daedc2;
    margin: 0px 0px 10px 0px;
    
    border-radius: 7px 7px 7px 7px;
    border-width: 10px;
    border: solid;
    border-color: #4f8038;
    width: 100%;
    overflow: auto;
}
.tabla thead
{
    background-color: #4f8038;
    color: #daedc2;
    font-size: large;
}

.tabla th
{
    height: 0px;
}

.tabla td
{
    height: 40px;
    

}

/*tabla con scroll interno usa dos tablas*/
.tabla1
{
    background-color: #daedc2;
    margin: 0px 0px 10px 0px;
    border-radius: 7px 7px 7px 7px;
    border-width: 10px;
    border: solid;
    border-color: #4f8038;
    width: 100%;
    table-layout: fixed
}
.tabla1 thead 
{
    background-color: #4f8038;
    color: #daedc2;
}
.tabla2div
{
    width:100%;
    height: 350px;
    overflow: auto;
    table-layout: fixed
}
.tabla2 td
{
    border-bottom: 2px solid #4f8038;
}
.tabla2 tr:first-child
{
    font-weight: bold;
    height: 50px;
}

/*cabeceras*/
h2
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #4f8038;
    border-radius: 7px 7px 7px 7px;
    color: #daedc2;
    text-align: center;
}

/* Datos de Abajo para colocar el CC y el link*/
.abajoTotal {
    width: 100%;
    text-align: center}

/*en listas vale para ponerlos a la derecha*/
.leftLista{
    float:left;
    width:20%;
}

/*lista con forma de boton*/

/*caja sin borde*/
.cajaSin
{
    width: 100%;
    overflow: auto;
    margin: 0px;
    padding: 0px;
}


.cajaBotones
{
    padding-left: 20px;
    list-style: none;
    
}
.cajaBotones > li.pegado
{
    box-sizing: border-box;
    text-align: -webkit-match-parent;
    float: left;
    margin: 0px 10px 0px 0px;
    padding: 5px;
    border-radius: 7px 7px 0px 0px;
    border: solid;
    border-color: #4f8038;
    background-color: #daedc2;
    color : #4f8038;
    
}

.botonSolo
{
    box-sizing: border-box;
    text-align: -webkit-match-parent;
    float: left;
    pading-left: 5px;
    margin: 5px 5px 5px 35px;
    padding: 5px 25px 5px 25px;
    border-radius: 7px 7px 7px 7px;
    border: solid;
    border-color: #4f8038;
    background-color: #daedc2;
    color : #4f8038;
}

.detalle
{
    box-sizing: border-box;
    text-align: -webkit-match-parent;
    float: left;
    pading-left: 5px;
    margin: 5px 5px 5px 35px;
    padding: 5px 25px 5px 25px;
    /*border-radius: 7px 7px 7px 7px;*/
    /*border: solid;*/
    /*border-color: #4f8038;*/
    background-color: #daedc2;
    color : #4f8038;
}



.botonSolo:hover,
.cajaBotones > li.pegado.active,
.cajaBotones > li.pegado:hover
{
    border-color: #4f8038;
    background-color: #4f8038;
    color: #daedc2;
}

.botonSolo:active,
.cajaBotones > li.pegado:active
{
    border-color: #daedc2;
    background-color: #4f8038;
    color: #daedc2;
}


.cabecera
{
    margin-left: auto;
    margin-right: auto;
    width: inherit;
    background-color: #4f8038;
    border-radius: 7px 7px 7px 7px;
    padding: 10px 10px 10px 10px;
    color: #daedc2;
    text-align: center;
    font-size: large;
}

.cajaInterna{
    background-color: #daedc2;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 7px 7px 7px 7px;
    border-width: 10px;
    border: solid;
    border-color: #4f8038;
    float:left;
    overflow: auto;
    width:inherit;
    min-width: 200px;
    max-width: 45%;
}



.sample-show-hide.ng-hide {
  opacity:0;
}



.sample-show-hide.ng-hide-add {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    top: 0px;
    left: 0px;
    opacity: 1;
}

.sample-show-hide.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    height: 0;
}

.sample-show-hide.ng-hide-remove {
    -webkit-transition-property: opacity, -webkit-transform;
    -moz-transition-property: opacity, -moz-transform;
    -o-transition-property: opacity, -o-transform;
    transition-property: opacity, transform;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0;
}

.sample-show-hide.ng-hide-remove.ng-hide-remove-active {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
}

/*deslizarLado*/


.deslizarLado.ng-hide {
  opacity:0;
}



.deslizarLado.ng-hide-add {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    top: 0px;
    left: 0px;
    opacity: 1;
}






.deslizarLado.ng-hide-add {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 0;
    z-index: 1;

}

.deslizarLado.ng-hide-add.ng-hide-add-active {
    -webkit-transform: translate(0px, 100%);
    -moz-transform: translate(0px, 100%);
    -ms-transform: translate(0px, 100%);
    -o-transform: translate(0px, 100%);
    transform: translate(0px, 100%);
    opacity: 1;
}

.deslizarLado.ng-hide-remove {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px,0px);
    opacity: 1;
    z-index: 3;
}

.deslizarLado.ng-hide-remove.ng-hide-remove-active {
    -webkit-transform: translate(0px, 100%);
    -moz-transform: translate(0px, 100%);
    -ms-transform: translate(0px, 100%);
    -o-transform: translate(0px, 100%);
    transform: translate(0px, 100%);
    opacity: 1;
}
