/*@import url(../../node_modules/bootstrap/dist/css/bootstrap.Xcss);*/
/* CSS Document */

@import  "http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100";

* {
	font-family: 'Roboto Slab', serif;
}


/*cajas de control*/
/*Hay cuatro tipos de cajas*/

h2,
.caja,
.cajaVacia,
.cajaGrupo,
.cajaEntrada,
.tablaExt,
.cabecera,
.cabeceraEntrada,
.cajaIzquierda
{
    border-radius: 7px 7px 7px 7px;
    border-width: 10px; 
    margin: 10px auto 10px auto;
    padding: 0px;
    overflow: hidden;
    text-align: center;
    width: auto;
    fixed:left;
}


.cajaFija
{
    min-height:250px;
    max-height:600px;
}

.caja,
.cajaEntrada,
.cabecera,
.cabeceraEntrada,
.cajaInquierda

{
    border-width: 10px;
    border: solid;
}

.cajaGrupo
{
    width:50%;
    min-width:250px;
    float:left;
}
.caja,
.botonSolo,
.tablaExt,
.cajaIzquierda
{
    background-color: #daedc2;
    border-color: #4f8038;
    /*color : #4f8038;*/
}

.cajaEntrada,
.botonSoloEntrada
{
    background-color: #C4DBED;
    border-color: #384F80;
}

.botonSoloEntrada
{
    color: #384F80;
}

.botonSolo,
.botonDesactivado
{
    color: #4f8038;
}

h2,
.tablaExt thead,
.botonSolo:hover,
.cabecera
{
    background-color: #4f8038;
    color: #daedc2;
}


.botonSoloEntrada:hover,
.cabeceraEntrada
{
    background-color: #384F80;
    color: #C4DBED;

}

.cajaIzquierda
{
    margin:10px;
    text-align:left;
}



/*Selector*/

.seleccionEntrada
{
   width: 50%;
   height: 34px;
   overflow: hidden;
   background: url(../img/down.png) no-repeat right #ddd;
   border: 1px solid #384F80;
   background-color: #D7F4F3;
   cursor: pointer;
    -webkit-appearance: none;
}




/*lista con forma de boton*/

.cajaBotones
{
    list-style: none;
    padding: 0px;
    margin: 20px auto 20px auto;
    align-content: center;
    width: 100%;
    
}

.botonSoloEntrada,
.botonSolo
{
    display: inline;
    padding: 0 10px;
    box-sizing: border-box;
    pading-left: 5px;
    margin: 5px 5px 5px 35px;
    padding: 5px 25px 5px 25px;
    border-radius: 7px 7px 7px 7px;
    border: solid;
}


.tablaExt
{
    width: 100%;
    table-layout: fixed;
}

.tablaIntDiv
{
    width:100%;
    height: 350px;
    overflow: auto;
    table-layout: fixed
}

.tablaInt
{
    width:100%;
    table-layout: fixed;
}

.tablaInt td
{
    border-bottom: 2px solid #4f8038;
}

.tablaInt tr:first-child
{
    font-weight: bold;
    height: 50px;
}

.link
{
 color: #0000ff;   
}

.link:hover {
    text-decoration: underline;
}

input,
.link
{
    cursor: pointer;
}








.xcajaBotones li.pegado
{
    box-sizing: border-box;
    text-align: -webkit-match-parent;
    float: left;
    margin: 0px 10px 0px 0px;
    padding: 5px;
    border-radius: 7px 7px 0px 0px;
    border: solid;
    border-color: #4f8038;
    background-color: #daedc2;
    color : #4f8038;
    
}


.Xdetalle
{
    box-sizing: border-box;
    text-align: -webkit-match-parent;
    float: left;
    pading-left: 5px;
    margin: 5px 5px 5px 35px;
    padding: 5px 25px 5px 25px;
    /*border-radius: 7px 7px 7px 7px;*/
    /*border: solid;*/
    /*border-color: #4f8038;*/
    background-color: #daedc2;
    color : #4f8038;
}



.XbotonSolo:hover,
.XcajaBotones > li.Xpegado.Xactive,
.XcajaBotones > li.Xpegado:hover
{
    border-color: #4f8038;
    background-color: #4f8038;
    color: #daedc2;
}

.XbotonSolo:active,
.XcajaBotones > li.Xpegado:active
{
    border-color: #daedc2;
    background-color: #4f8038;
    color: #daedc2;
}

















/*tablas con datos*/
.Xtabla
{
    background-color: #daedc2;
    margin: 0px 0px 10px 0px;
    
    border-radius: 7px 7px 7px 7px;
    border-width: 10px;
    border: solid;
    border-color: #4f8038;
    width: 100%;
    overflow: auto;
}
.Xtabla thead
{
    background-color: #4f8038;
    color: #daedc2;
    font-size: large;
}

.Xtabla th
{
    height: 0px;
}

.Xtabla td
{
    height: 40px;
    

}

/*tabla con scroll interno usa dos tablas*/
.Xtabla1 thead 
{
    background-color: #4f8038;
    color: #daedc2;
}
.Xtabla2div
{
    width:100%;
    height: 350px;
    overflow: auto;
    table-layout: fixed
}
.Xtabla2 td
{
    border-bottom: 2px solid #4f8038;
}
.Xtabla2 tr:first-child
{
    font-weight: bold;
    height: 50px;
}


/* Datos de Abajo para colocar el CC y el link*/
.XabajoTotal {
    width: 100%;
    text-align: center}

/*en listas vale para ponerlos a la derecha*/
.XleftLista{
    float:left;
    width:20%;
}




.Xcabecera
{
    margin-left: auto;
    margin-right: auto;
    width: inherit;
    background-color: #4f8038;
    border-radius: 7px 7px 7px 7px;
    padding: 10px 10px 10px 10px;
    color: #daedc2;
    text-align: center;
    font-size: large;
}

.XcajaInterna{
    background-color: #daedc2;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 7px 7px 7px 7px;
    border-width: 10px;
    border: solid;
    border-color: #4f8038;
    float:left;
    overflow: auto;
    width:inherit;
    min-width: 200px;
    max-width: 45%;
}



.Xsample-show-hide.Xng-hide {
  opacity:0;
}



.Xsample-show-hide.Xng-hide-add {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    top: 0px;
    left: 0px;
    opacity: 1;
}

.Xsample-show-hide.Xng-hide-add.Xng-hide-add-active {
    opacity: 0;
    height: 0;
}

.Xsample-show-hide.Xng-hide-remove {
    -webkit-transition-property: opacity, -webkit-transform;
    -moz-transition-property: opacity, -moz-transform;
    -o-transition-property: opacity, -o-transform;
    transition-property: opacity, transform;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0;
}

.Xsample-show-hide.Xng-hide-remove.Xng-hide-remove-active {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
}

/*deslizarLado*/


.XdeslizarLado.Xng-hide {
  opacity:0;
}



.XdeslizarLado.Xng-hide-add {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    top: 0px;
    left: 0px;
    opacity: 1;
}






.XdeslizarLado.Xng-hide-add {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition-duration: 0.X5s;
    -moz-transition-duration: 0.X5s;
    -o-transition-duration: 0.X5s;
    transition-duration: 0.X5s;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 0;
    z-index: 1;

}

.XdeslizarLado.Xng-hide-add.Xng-hide-add-active {
    -webkit-transform: translate(0px, 100%);
    -moz-transform: translate(0px, 100%);
    -ms-transform: translate(0px, 100%);
    -o-transform: translate(0px, 100%);
    transform: translate(0px, 100%);
    opacity: 1;
}

.XdeslizarLado.Xng-hide-remove {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition-duration: 0.X5s;
    -moz-transition-duration: 0.X5s;
    -o-transition-duration: 0.X5s;
    transition-duration: 0.X5s;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px,0px);
    opacity: 1;
    z-index: 3;
}

.XdeslizarLado.Xng-hide-remove.Xng-hide-remove-active {
    -webkit-transform: translate(0px, 100%);
    -moz-transform: translate(0px, 100%);
    -ms-transform: translate(0px, 100%);
    -o-transform: translate(0px, 100%);
    transform: translate(0px, 100%);
    opacity: 1;
}
