<!doctype html>
<html lang="es"  ng-app="conversorApp">
<head>
	<meta charset="utf-8"> 
    <link href="css/tarifasApp.css" rel="stylesheet" media="screen">
    
	<title>Tarifas en Angular.js</title>
	<script src="node_modules/angular/angular.min.js"></script>
    
    <script src="src/tarifasApp.js"></script>
    <script src="src/conversorApp.js"></script>
    
</head>

<body ng-controller="conversorController as conversor">

        
        <h2>Datos de Entrada</h2>
        <div>
            <form name="formularioC1">
                <button ng-click="conversor.recoger()">Presioname para transformar</button>
                <br>
                Version a Generar: <input type="text" ng-model="versionNew"> 
                <button ng-click="conversor.bajarVer()">--</button>
                <button ng-click="conversor.bajarSubVer()">-</button>
                <button ng-click="conversor.subirSubVer()">+</button>
                <button ng-click="conversor.subirVer()">++</button>
                <br>
                <input type="radio" ng-model="conversor.excel" value="0At8AA5ZEAiw9dFV4MVZaUll2dkJmQjc2WGdSLWhpNFE">pruebas<br>
                <input type="radio" ng-model="conversor.excel" value="0At8AA5ZEAiw9dFRmR0JGYktDTEstbDdwdjY0ZzZ2c1E">Produccion<br>
                <input type="radio" ng-model="conversor.excel" value="0At8AA5ZEAiw9dHh2Y3FuTHpCdndCZ3BOSW9SR3RwQ3c">pruebas2<br>
                
                <button ng-click="conversor.guardar()">Presioname para guardar</button>
                <pre>minutos: {{datos.minutos}} - llamadas: {{datos.llamadas}} - Internet: {{datos.internet}} - SMS: {{datos.sms}}</pre>
                <pre>fecha: {{datos.fecha.year}}-{{datos.fecha.month}}-{{datos.fecha.day}}</pre>
                <pre>Version: {{datos.version}}</pre>
                <pre>Feed: {{feed}}</pre>
                <pre>Cabecera: {{datos.cabecera}}</pre>
                <pre>Fecha ACT: {{datos.fechaACT}}</pre>
                
            </form>
        </div>
        <caja-entrada-avanzada></caja-entrada-avanzada>
        <br>
        <caja-impuestos></caja-impuestos>
        <br>
        <div ng-controller="selectorTablasExt as tabExt">
        <div><ul><li class="botonF" ng-class="{ active: tabExt.isSet(1) }" ng-click="tabExt.setTab(1)" ng-model="a">Normal</li>
            <li class="botonF" ng-class="{ active: tabExt.isSet(2) }" ng-click="tabExt.setTab(2)">Extendida</li></ul></div>
        <div ng-show="tabExt.isSet(1)"><caja-lista></caja-lista></div>
        <div ng-show="tabExt.isSet(2)"><caja-lista-extendida></caja-lista-extendida></div>
        </div>

        </tr>
        </table>
        </div>
        
    <pre>{{datosSTD}}</pre>
    <pre>{{valores}}</pre>
    <pre>{{datos}}</pre>

    
    </div>
</body>
</html>
