<!doctype html>
<html lang="es"  ng-app="conversorApp">
<head>
	<meta charset="utf-8"> 
    <link href="css/tarifasApp.css" rel="stylesheet" media="screen">
    
	<title>Tarifas en Angular.js</title>
	<script src="node_modules/angular/angular.min.js"></script>
    
    <script src="src/tarifasApp.js"></script>
    <script src="src/conversorApp.js"></script>
    
</head>

<body ng-controller="conversorController as conversor">

    
        <h2>Datos de Entrada</h2>
        <div>
            <form name="formularioC1">
                <button ng-click="conversor.recoger()">Presioname para transformar</button>
                <br>
                Version a Generar: <input type="text" ng-model="versionNew">
                <br>
                <input type="radio" ng-model="conversor.excel" value="0At8AA5ZEAiw9dFV4MVZaUll2dkJmQjc2WGdSLWhpNFE">pruebas<br>
                <input type="radio" ng-model="conversor.excel" value="0At8AA5ZEAiw9dFRmR0JGYktDTEstbDdwdjY0ZzZ2c1E">Produccion<br>
                <button ng-click="conversor.guardar()">Presioname para guardar</button>
                <pre>minutos: {{datos.minutos}} - llamadas: {{datos.llamadas}} - Internet: {{datos.internet}} - SMS: {{datos.sms}}</pre>
                <pre>fecha: {{datos.fecha.year}}-{{datos.fecha.month}}-{{datos.fecha.day}}</pre>
                <pre>Version: {{datos.version}}</pre>
                <pre>Feed: {{feed}}</pre>
                <pre>Cabecera: {{datos.cabecera}}</pre>
            </form>
        </div>
        <h2>Datos de Salida</h2>
        <div >
      <table border="1">
        <tr>
            <th>{{datos.cabecera[0]}}</th>
            <th>{{datos.cabecera[1]}}</th>
            <th>{{datos.cabecera[2]}}</th>
            <th>{{datos.cabecera[3]}}</th>
            <th>{{datos.cabecera[4]}}</th>
            <th>{{datos.cabecera[4]}}</th>
            <th>{{datos.cabecera[5]}}</th>
            <th>{{datos.cabecera[6]}}</th>
            <th>{{datos.cabecera[7]}}</th>
            <th>{{datos.cabecera[8]}}</th>
            <th>{{datos.cabecera[9]}}</th>
            <th>{{datos.cabecera[10]}}</th>
            <th>{{datos.cabecera[11]}}</th>
            <th>{{datos.cabecera[12]}}</th>
            <th>{{datos.cabecera[13]}}</th>
            <th>{{datos.cabecera[14]}}</th>
            <th>{{datos.cabecera[14]}}</th>
            <th>{{datos.cabecera[15]}}</th>
            <th>{{datos.cabecera[16]}}</th>
            <th>{{datos.cabecera[17]}}</th>
            <th>{{datos.cabecera[18]}}</th>
            <th>{{datos.cabecera[19]}}</th>
            <th>{{datos.cabecera[20]}}</th>
            <th>{{datos.cabecera[21]}}</th>
            <th>{{datos.cabecera[22]}}</th>
            
            
        </tr>
        <tr ng-repeat="tarifa in datos.tabla">
            <td>{{tarifa.nombre}}</td>
            <td>{{tarifa.red}}</td>
            <td>{{tarifa.total_con_IVA|number:2}}</td>
            <td>{{tarifa.Observaciones}}</td>
            <td>{{tarifa.textos_especiales}}</td>
            <td>{{tarifa.coste_minutos}}</td>
            <td>{{tarifa.coste_llamadas}}</td>
            <td>{{tarifa.coste_sms}}</td>            
            <td>{{tarifa.coste_internet}}</td>
            <td>{{tarifa.tarifa_std}}</td>
            <td>{{tarifa.tarifa_minima}}</td>
            <td>{{tarifa.incluidos_minutos}}</td>
            <td>{{tarifa.coste_incluido_sn}}</td>
            <td>{{tarifa.incluidos_sms}}</td>
            <td>{{tarifa.incluidos_internet}}</td>
            <td>{{tarifa.gasto_minutos}}</td>
            <td>{{tarifa.gasto_llamadas}}</td>
            <td>{{tarifa.gasto_sms}}</td>
            <td>{{tarifa.gasto_internet}}</td>
            <td>{{tarifa.formulas_especiales}}</td>
            <td>{{tarifa.total_base}}</td>
            <td>{{tarifa.total_sin_IVA}}</td>
            <td>{{tarifa.sn_4G}}</td>
            <td>{{sobrecoste_internet}}</td>

        </tr>
        </table>
        </div>
        
    <pre>{{datosSTD}}</pre>
    <pre>{{valores}}</pre>
    <pre>{{datos}}</pre>

    
    </div>
</body>
</html>
