<!doctype html>
<html lang="es"  ng-app="conversorApp">
<head>
	<meta charset="utf-8"> 
    <link href="css/tarifasApp.css" rel="stylesheet" media="screen">
    
	<title>Tarifas en Angular.js</title>
	<script src="node_modules/angular/angular.min.js"></script>
    
    <script src="src/controllers/tarifasApp.js"></script>
    <script src="src/controllers/conversorApp.js"></script>
    
</head>

<body ng-controller="conversorController as conversor">

        
        <h2>Datos de Entrada</h2>
        <caja-entrada-conversor></caja-entrada-conversor>
        <h2>Datos de Salida</h2>
        <caja-entrada-avanzada></caja-entrada-avanzada>
        <br>
        <caja-impuestos></caja-impuestos>
        <br>
        <div ng-controller="selectorTablasExt as tabExt">
        <div><ul><li class="botonF" ng-class="{ active: tabExt.isSet(1) }" ng-click="tabExt.setTab(1)" ng-model="a">Normal</li>
            <li class="botonF" ng-class="{ active: tabExt.isSet(2) }" ng-click="tabExt.setTab(2)">Extendida</li></ul></div>
        <div ng-show="tabExt.isSet(1)"><caja-lista></caja-lista></div>
        <div ng-show="tabExt.isSet(2)"><caja-lista-extendida></caja-lista-extendida></div>
        </div>

        </tr>
        </table>
        </div>
                <pre>minutos: {{datos.minutos}} - llamadas: {{datos.llamadas}} - Internet: {{datos.internet}} - SMS: {{datos.sms}}</pre>
                <pre>fecha: {{datos.fecha.year}}-{{datos.fecha.month}}-{{datos.fecha.day}}</pre>
                <pre>Version: {{datos.version}}</pre>
                <pre>Feed: {{feed}}</pre>
                <pre>Cabecera: {{datos.cabecera}}</pre>
                <pre>Fecha ACT: {{datos.fechaACT}}</pre>
        
    <pre>{{datosSTD}}</pre>
    <pre>{{valores}}</pre>
    <pre>{{datos}}</pre>

    
    </div>
</body>
</html>
