<div class="cajaVacia cajaFija" ng-controller="cajaEntradaSimpleController as cajaESC">
    <div class="cajaVacia" ng-show="isSet(1,1)">
        <div class="cajaVacia" style="margin-bottom:50px">
            <strong>Descripción muy rápida del proceso</strong>
            <br>Cuando hayas presionado "Ok":
            <br>En la parte de arriba tendrás tus respuestas,
            <br>por si quieres cambiar algo.
            <br>Puedes volver al principio y usar el tutorial. 
            <br>Hay una lista para poder cambiar los impuestos.
            <br>Y la tabla con todas las tarifas ordenadas con tus cálculos. 
            <br>Todo se calcula automáticamente cuando cambias cualquier dato.
            <br>Presiona Ok.
        </div>
        <ul class="cajaBotones">
            <li class="botonSoloEntrada" ng-click="setTab([0,2,1,1])">Ok</li>
        </ul>
    </div>
    <div class="cabeceraEntrada" ng-show="isSet(1,2)"><strong>DATOS A CALCULAR</strong></div>
    <div class="cajaGrupo" ng-show="isSet(1,2)">
        <div class="cajaVacia" style="margin-bottom:20px;">
            Minutos (al mes):
            </div>
        <input type="text" name="input" ng-model="datos.minutos" min=0 valid-number ng-change="actualizarTarifas()" requierd>
    </div>
    <div class="cajaGrupo" ng-show="isSet(1,2)">
        <div class="cajaVacia" style="margin-bottom:20px;">
            Llamadas (al mes):
        </div>
        <input type="text" name="input" ng-model="datos.llamadas" min=0 valid-number ng-change="actualizarTarifas()" requierd>
    </div>
    <div class="cajaGrupo" ng-show="isSet(1,2)">
        <div class="cajaVacia" style="margin-bottom:20px;">
            Internet (consumo al mes):
        </div>
        <input type="text" name="input" ng-model="datos.internet" min=0 valid-number ng-change="actualizarTarifas()" requierd>
    </div>
    <div class="cajaGrupo" ng-show="isSet(1,2)">
        <div class="cajaVacia" style="margin-bottom:20px;">
            SMS (al mes):
        </div>
        <input type="text" name="input" ng-model="datos.sms" min=0 valid-number ng-change="actualizarTarifas()" requierd>
    </div>
    <div class="cajaGrupo" ng-show="isSet(1,2)" style="width:100%;">
        <ul class="cajaBotones" >
            <li class="botonSoloEntrada" ng-click="setTab([1,0,0,0])">Volver al Principio</li>
        </ul>
    </div>
</div>        





<table class="tabla" style="margin-top:-2px" ng-show="isSet(1,0)">
            <thead ><th colspan="3" >DATOS Al MES</th></thead>
            <tbody >
            <tr>
                <td>  Duracion media de las llamadas: {{datos.minutos / datos.llamadas | number }} minutos</td>
                <td> </td>
                <td></td>
                <td>{{mensaje}}</td>
            </tr><tr>
                <td> </td>
                <td> </td>
                <td>en MegaBytes, equivale a: {{datos.internet/1000 |number}} Gigabytes</td>
                
            </tr><tr>
                <td> </td>
                <td></td><td>{{mensaje}}</td>
                
            </tr></tbody></table>
