<div style="width: 100%;">
    <ul class="cajaBotones" ng-controller="cajaEntrada" >
            <li ng-class="{active: cajaEntrada.isSet(1) }" ng-click="setTab(1)">Sencilla</li>
            <li ng-class="{active: cajaEntrada.isSet(2) }" ng-click="setTab(2)">Avanzada</li>
        </ul></div>
        <div ng-show="cajaEntrada.isSet(1)" class="animate-show"><caja-entrada-simple></caja-entrada-simple></div>
        <div ng-show="cajaEntrada.iisSet(2)" class="animate-show"><caja-entrada-avanzada></caja-entrada-avanzada></div>
        </div>



