        <div class="cajaEntrada cajaFija">
            <form name="formularioC1">
                <button class="botonSoloEntrada" ng-click="conversor.recoger()">Presioname para transformar</button>
                <br>
                Version a Generar: <input type="text" ng-model="versionNew"> 
                <button ng-click="conversor.bajarVer()">--</button>
                <button ng-click="conversor.bajarSubVer()">-</button>
                <button ng-click="conversor.subirSubVer()">+</button>
                <button ng-click="conversor.subirVer()">++</button>
                <br>
                <input type="radio" ng-model="conversor.excel" value="0At8AA5ZEAiw9dFV4MVZaUll2dkJmQjc2WGdSLWhpNFE">pruebas<br>
                <input type="radio" ng-model="conversor.excel" value="0At8AA5ZEAiw9dFRmR0JGYktDTEstbDdwdjY0ZzZ2c1E">Produccion<br>
                <input type="radio" ng-model="conversor.excel" value="0At8AA5ZEAiw9dHh2Y3FuTHpCdndCZ3BOSW9SR3RwQ3c">pruebas2<br>
                
                <button class="botonSoloEntrada" ng-click="conversor.guardar()">Presioname para guardar</button>
                
            </form>
        </div>
