<div class="cajaVacia cajaFija" ng-controller="cajaEntradaSimpleController as cajaESC">
    <form name="formularioSimple">
    <div class="cajaVacia" ng-show="isSet(0,1)">
        <div class="cajaVacia" style="margin-bottom:50px">
            <strong>¿Conoces exáctamente tus datos o quieres que te ayude?</strong>
        </div>
        <ul class="cajaBotones">
            <li class="botonSoloEntrada" ng-click="setTab([2,0,0,0]);cajaESC.inicializar()">Ayudame con el tutorial</li>
            <li class="botonSoloEntrada" ng-click="setTab([0,1,0,0])">Se lo que gasto</li>
        </ul>
    </div>
    <div class="cabeceraEntrada" ng-show="isSet(0,7)"><strong>DATOS a CALCULAR</strong></div>
    <div ng-class="{cajaVacia: isSet(0,2), cajaGrupo: isSet(0,7)}">
        <div class="cajaVacia" style="margin-bottom:20px;" ng-show="isSet(0,2)">
            <strong>¿Cuántas llamadas haces?</strong>
        </div>
        <div class="cajaVacia" style="margin-bottom:20px;" ng-show="isSet(0,7)">
            ¿Cuántas llamadas haces?
        </div>
        <select name="fsLlamadas" class="seleccionEntrada" ng-model="cajaESC.llamadas"          
            ng-change="cajaESC.calcularLlamadas()"         ng-show="isSet(0,2)||isSet(0,7)"
            ng-options="opt as opt.label for opt in cajaESC.optLlamadas"   required>
        </select>
        <ul class="cajaBotones" ng-show="isSet(0,2)" ng-a>
            <li class="botonSoloEntrada" ng-click="cajaESC.calcularLlamadas();setTab([3,0,0,0])">Seguir</li>
        </ul>
    </div>
    <div ng-class="{cajaVacia: isSet(0,3), cajaGrupo: isSet(0,7)}">
        <div class="cajaVacia" style="margin-bottom:20px;" ng-show="isSet(0,3)">
            <strong>¿Cuánto dura una llamada?</strong>
        </div>
        <div class="cajaVacia" style="margin-bottom:20px;" ng-show="isSet(0,7)">
            ¿Cuánto dura una llamada?
        </div>
        <select name="fsMinutosMedia" class="seleccionEntrada" ng-model="cajaESC.minutosMedia" 
            ng-change="cajaESC.calcularMinutosMedia()"         ng-show="isSet(0,3)||isSet(0,7)"
            ng-options="opt as opt.label for opt in cajaESC.optMinutosMedia" required>
        </select>
        <ul class="cajaBotones" ng-show="isSet(0,3)" ng-a>
            <li class="botonSoloEntrada" ng-click="cajaESC.calcularMinutosMedia();setTab([4,0,0,0])">Seguir</li>
        </ul>

    </div>
    <div ng-class="{cajaVacia: isSet(0,4), cajaGrupo: isSet(0,7)}">
        <div class="cajaVacia" style="margin-bottom:20px;" ng-show="isSet(0,4)">
            <strong>¿Cuánto usas Internet?</strong>
        </div>
        <div class="cajaVacia" style="margin-bottom:20px;" ng-show="isSet(0,7)">
            ¿Cuánto usas Internet?
        </div>
        <select name="fsInternet" class="seleccionEntrada" ng-model="cajaESC.internet" 
            ng-change="cajaESC.calcularInternet()"         ng-show="isSet(0,4)||isSet(0,7)"
            ng-options="opt as opt.label for opt in cajaESC.optInternet" required>
        </select>
        <ul class="cajaBotones" ng-show="isSet(0,4)" ng-a>
            <li class="botonSoloEntrada" ng-click="cajaESC.calcularInternet();setTab([5,0,0,0])">Seguir</li>
        </ul>

    </div>
    <div ng-class="{cajaVacia: isSet(0,5), cajaGrupo: isSet(0,7)}">
        <div class="cajaVacia" style="margin-bottom:20px;" ng-show="isSet(0,5)">
            <strong>¿Mandas SMS?</strong>
        </div>
        <div class="cajaVacia" style="margin-bottom:20px;" ng-show="isSet(0,7)">
            ¿Mandas SMS?
        </div>
        <select name="fsSMS" class="seleccionEntrada" ng-model="cajaESC.sms" 
                ng-change="cajaESC.calcularSMS()"     ng-show="isSet(0,5)||isSet(0,7)"
                ng-options="opt as opt.label for opt in cajaESC.optSMS" required>
        </select>
        <ul class="cajaBotones" ng-show="isSet(0,5)" ng-a>
            <li class="botonSoloEntrada" ng-click="cajaESC.calcularSMS();setTab([6,0,0,0])">Seguir</li>
        </ul>

    </div>
    <div class="cajaVacia" ng-show="isSet(0,6)" >
        <div class="cajaVacia" style="width:70%">
            <strong style="heigth:50px">Ya hemos acabado</strong>
            <br>En la parte de arriba tienes las respuestas, por si quieres cambiar algo.
            <br>Puedes pasar al avanzado usando el botón. 
            <br>Se muestra una lista para poder cambiar los impuestos.
            <br>Y la tabla con todas las tarifas ordenadas con tus cálculos. 
            <br>El sistema calcula automáticamente en el momento que cambias cualquier dato.
            <br>Da Ok.
        </div>
        <ul class="cajaBotones">
            <li class="botonSoloEntrada" ng-click="setTab([7,0,1,1])">Ok</li>
        </ul>
    </div>
    <div class="cajaGrupo" ng-show="isSet(0,7)" style="width:100%;">
        <ul class="cajaBotones" >
            <li class="botonSoloEntrada" ng-click="setTab([1,0,0,0])">Ir al Principio</li>
            <li class="botonSoloEntrada" ng-click="setTab([0,2,1,1])">Ir a Avanzado</li>
        </ul>
    </div>
    <div class="cajaVacia" ng-show="isSet(0,2)||isSet(0,3)||isSet(0,4)||isSet(0,5)" >Número de Pregunta {{tab[0]-1}} de 4</div>
</form>        
</div>