   <div class="cajaEntrada">
            <div class="cajaGrupo" style="width:20%;min-width:100px"><input type="radio" ng-model="datosSTD.IVA" value="1.21" ng-change="actualizarTarifas()">IVA Península 21%</div>
            <div class="cajaGrupo" style="width:20%;min-width:100px"><input type="radio" ng-model="datosSTD.IVA" value="1.07" ng-change="actualizarTarifas()">IGIC Canarias 7%</div>
            <div class="cajaGrupo" style="width:20%;min-width:100px"><input type="radio" ng-model="datosSTD.IVA" value="1.10" ng-change="actualizarTarifas()">IPSI Ceuta 10%</div>
            <div class="cajaGrupo" style="width:20%;min-width:100px"><input type="radio" ng-model="datosSTD.IVA" value="1.04" ng-change="actualizarTarifas()">IPSI Melilla 4%</div>    
            <div class="cajaGrupo" style="width:20%;min-width:100px"><input type="radio" ng-model="datosSTD.IVA" value="1.00" ng-change="actualizarTarifas()">Sin Impuestos</div>
        </div>  