<div class="caja cajaFija"  ng-controller="datosDetalleController as datosDC">
    <div class="cabecera">
        <div style="margin:10px"><strong><em> Compañia:</em> {{tarifaGuardada.compania}}</strong></div>
        <div style="margin-bottom:20px"><strong><em>Tarifa:</em> {{tarifaGuardada.nombre}}</strong></div>
    </div>
    <div class="cajaVacia">
        <ul class="cajaBotones">
            <li class="botonSolo" ng-click="setTabFila(3,1)">VOLVER</li>
            <li class="botonSolo" ng-click="setTabFila(3,3)" ng-show="isSet(3,2)"> Información Económica</li>
            <li class="botonSolo" ng-click="setTabFila(3,4)" ng-show="isSet(3,3)"> Información Extra</li>
            <li class="botonSolo" ng-click="setTabFila(3,2)" ng-show="isSet(3,4)">Información Importante</li>
        </ul>

    </div>
<div class="cajaIzquierda" ng-show="isSet(3,2)"> 
  <div class="cajaIzquierda">
        <div style="margin-bottom:10px"><strong>Detalle</strong></div>
        <div ><em>Tarifa:</em> {{tarifaGuardada.tarifa_base|number:2}} euros</div>
        <div ><em>Complementos:</em></div>
        <div style="margin-left:30px"><em>Llamadas:</em> {{tarifaGuardada.precio_llamadas*datosSTD.IVA|number:2}} euros</div>
        <div style="margin-left:30px"><em>Internet:</em> {{tarifaGuardada.sobrecoste_internet*datosSTD.IVA|number:2}} euros</div>
        <div style="margin-left:30px"><em>SMS:</em> {{tarifaGuardada.precio_sms*datosSTD.IVA|number:2}} euros</div>
        <div style="margin-bottom:30px"><em><strong>Total:</strong></em> {{tarifaGuardada.total_con_IVA|number:2}} euros</div>      </div>      
    <div class="cajaIzquierda">
        <div ><strong>Otros Datos</strong></div>
        <div style="margin-left:30px"><em>Tipo de Contrato:</em> {{tarifaGuardada.texto_condiciones}}</div>
        <div style="margin-left:30px"><em>Red de la Cobertura:</em> {{tarifaGuardada.red}}</div>
    </div>
</div>
<div class="caja" style="margin:10px;" ng-show="isSet(3,3)">
    <div class="caja cajaIzquierda" style="padding:10px">
        <div style="margin-bottom:10px"><strong>Datos Economicos de la Tarifa (todos con Impuestos)</strong></div>
        <div><em>Precio por minuto:</em> {{tarifaGuardada.coste_minutos*datosSTD.IVA|number:2}} centimos</div>
        <div><em>Establecimiento de llamada:</em> {{tarifaGuardada.coste_llamadas*datosSTD.IVA|number:2}} centimos</div>
        <div><em>Precio del SMS:</em> {{tarifaGuardada.coste_sms*datosSTD.IVA|number:2}} centimos</div>
        <div><em>Precio del MB Internet:</em> {{tarifaGuardada.coste_internet*datosSTD.IVA|number:2}} centimos</div>
        <div><em>Tarifa Mínima:</em> {{tarifaGuardada.tarifa_minima*datosSTD.IVA|number:2}} euros </div>
        <div style="margin-bottom:10px"><em>Tarifa Estándar:</em> {{tarifaGuardada.tarifa_std*datosSTD.IVA|number:2}} euros que incluye:</div>
        <div class="caja cajaIzquierda">
            <div><em>Minutos:</em> {{tarifaGuardada.incluidos_minutos|number:0}}</div>
            <div><em>El establecimiento esta Incluido:</em> {{tarifaGuardada.sn_4G}}</div>
            <div><em>Internet:</em> {{tarifaGuardada.incluidos_internet|number:0}} MB</div>
            <div><em>SMS:</em> {{tarifaGuardada.incluidos_sms|number:0}} </div>
        </div>
    </div>
</div>
<div class="caja" style="margin:10px;" ng-show="isSet(3,4)">

    <div class="caja cajaIzquierda" style="padding:10px">
         <div style="margin-bottom:10px"><strong>DATOS EXTRA</strong></div>
        <div><em>Red Usada:</em> {{tarifaGuardada.red}}</div>
        <div><em>Informacion sobre Internet: </em> {{textoReduccion()}}</div>
        <div><em>Permite 4G:</em> {{tarifaGuardada.sn_4G}}</div>
        <div style="margin-bottom:15px"><em>Permite VOIP:</em> {{tarifaGuardada.VOIP}}</div>
        
        <div><em>Observaciones:</em></div>
        <div style="margin-bottom:15px"> {{tarifaGuardada.observaciones}}</div>
        <div style="margin-bottom:15px"><a href="{{tarifaGuardada.link}}" target="_blank"><em>Acceso a  la Tarifa en su pagina oficial:</em>   {{tarifaGuardada.compania}}&nbsp;-&nbsp;{{tarifaGuardada.nombre}} </a></div>
        <div style="margin-bottom:15px"><em>Datos de la tarifa actualizados a:</em> {{tarifaGuardada.fechaACT|date:'YYYY-mm-dd hh:mm'}}</div>
    </div>
</div>
    
</div>