<div class="caja"><strong> Es muy importante tener internet todo el mes </strong>
        (Las tarifas con reduccion de Internet son penalizadas al ordenar)
                <input type="checkbox" ng-model="ordenar" name="aaaa" ng-true-value="'dias_sin_internet*5+total_con_IVA'" ng-false-value="'total_con_IVA'" ></div>

<div class="caja"> Filtrar/Buscar: <input ng-model="query"> Busque en todos los datos: 4G, Compañía,Red...</div>
    <table class="tablaExt">
        <thead>
                <th width="20%">Compañía</th>
                <th width="20%">Tarifa</th>
                <th width="20%">Precio<br>Base + Complementos</th>
                <th width="20%">Condiciones de Tarifa</th>
                <th width="20%">Red</th>
                
                
        </thead>
        <tbody>
            <tr><td colspan="5">
                <div class="tablaIntDiv">
                    <table class="tablaInt" >
                        <tr ng-repeat="tarifa in datos.tabla | filter: query | orderBy: ordenar :false" ng-click="guardarTarifa(tarifa)">
                            
                            <td width="20%" >{{$index+1}} - {{tarifa.compania}}</td>
                            <td width="20%">{{tarifa.nombre}}</td>
                            <td width="20%" align="center">
                                <strong>{{tarifa.total_con_IVA|number:2}} euros </strong>
                                <br> {{tarifa.tarifa_base|number:2}} + {{(tarifa.total_con_IVA-tarifa.tarifa_base)|number:2}}
                                <br><div class="link"> (+ informacion)</div></td>
                            <td width="20%" align="center">{{tarifa.texto_condiciones}}</td>
                            <td width="20%">{{tarifa.red}}</td>
                        </tr>
                    </table>
                </div>
                </td></tr>
         </tbody>
    </table>
