<div class="caja cajaFija"  ng-controller="datosDetalleController as datosDC">
    <div class="cabecera">
        <div style="margin:10px"><strong><em>{{datos.tab}} Compañia:</em> {{tarifaGuardada.compania}}</strong></div>
        <div style="margin-bottom:20px"><strong><em>Tarifa:</em> {{tarifaGuardada.nombre}}</strong></div>
    </div>
    <div class="cajaVacia">
        <ul class="cajaBotones">
            <li class="botonSolo" ng-click="setTabFila(3,1)">VOLVER</li>
            <li class="botonSolo" ng-click="setTabFila(3,3)" ng-show="isSet(3,2)">Ampliar Información</li>
            <li class="botonSolo" ng-click="setTabFila(3,2)" ng-show="isSet(3,3)">Información Importante</li>
        </ul>

    </div>
<div class="cajaIzquierda" ng-show="isSet(3,2)">
   <div class="cajaVacia" style="padding:10px;text-align:left;">
        <div style="margin-bottom:10px"><strong>Detalle</strong></div>
        <div ><em>Tarifa:</em> {{tarifaGuardada.tarifa_base|number:2}} euros</div>
        <div ><em>Complementos:</em></div>
        <div style="margin-left:30px"><em>Llamadas:</em> {{tarifaGuardada.precio_llamadas*datosSTD.IVA|number:2}} euros</div>
        <div style="margin-left:30px"><em>Internet:</em> {{tarifaGuardada.sobrecoste_internet*datosSTD.IVA|number:2}} euros</div>
        <div style="margin-left:30px"><em>SMS:</em> {{tarifaGuardada.precio_sms*datosSTD.IVA|number:2}} euros</div>
        <div style="margin-bottom:30px"><em><strong>Total:</strong></em> {{tarifaGuardada.total_con_IVA|number:2}} euros</div>      </div>      
    <div class="cajaIzquierda" ng-show="isSet(3,2)">
        <div ><strong>Otros Datos</strong></div>
        <div style="margin-left:30px"><em>Tipo de Contrato:</em> {{tarifaGuardada.texto_condiciones}}</div>
        <div style="margin-left:30px"><em>Red de la Cobertura:</em> {{tarifaGuardada.red}}</div>
    </div>
</div>
<div class="caja" style="margin:10px;" ng-show="isSet(3,3)">
    PENDIENTE
</div>

<div class="caja" style="margin:10px;" ng-show="isSet(3,10)">
       <div class="cajaInterna" style="max-width: 96%;">
        <div style="margin-bottom:10px"><strong>Detalle</strong></div>
        <div ><em>Minutos que realmente voy a pagar:</em> {{tarifaGuardada.minutos_pagar|number:0}}</div>
        <div><em>Llamadas que realmente voy a pagar (realizado por promedio):</em> {{tarifaGuardada.llamadas_pagar|number:0}}</div>
        <div><em>Sobrecoste Internet:</em> {{tarifaGuardada.internet_pagar|number:0}} MB</div>
        <div style="margin-bottom:10px"><em>SMS que voy a pagar:</em> {{tarifaGuardada.sms_pagar|number:0}}</div>
        <div style="margin-bottom:10px"><strong><em>Dias que la tarifa se reduce:</em> {{tarifaGuardada.dias_sin_internet|number:0}} {{reduccion()}}</strong></div>
    </div>
    <div class="cajaInterna" style="max-width: 96%;">
        <div><em>Precio de las LLamadas:</em> {{tarifaGuardada.precio_llamadas*datosSTD.IVA|number:2}} euros</div>
        <div><em>Sobrecoste de Internet:</em> {{tarifaGuardada.sobrecoste_internet*datosSTD.IVA|number:2}} euros</div>
        <div><em>Precio de los SMS's:</em> {{tarifaGuardada.precio_sms*datosSTD.IVA|number:2}} euros</div>
        <div style="margin-bottom:10px"><em>Total Gastos(sin tarifas minimas y estándar):</em> {{tarifaGuardada.total_base*datosSTD.IVA|number:2}} euros</div>
         <div class="cajaInterna" style="max-width:95%;margin-bottom:10px" >
             <strong><em>Total a pagar:</em> {{tarifaGuardada.total_sin_IVA*datosSTD.IVA|number:2}} euros</strong></div>
    </div>
</div>
<div class="cajaSin deslizarLado" ng-show="isSet(3,10)">
    <div class="cajaInterna" style="max-width: 96%;">
        <div style="margin-bottom:10px"><strong>Datos Economicos de la Tarifa (todos con Impuestos)</strong></div>
        <div><em>Precio por minuto:</em> {{tarifaGuardada.coste_minutos*datosSTD.IVA|number:2}} centimos</div>
        <div><em>Establecimiento de llamada:</em> {{tarifaGuardada.coste_llamadas*datosSTD.IVA|number:2}} centimos</div>
        <div><em>Precio del SMS:</em> {{tarifaGuardada.coste_sms*datosSTD.IVA|number:2}} centimos</div>
        <div><em>Precio del MB Internet:</em> {{tarifaGuardada.coste_internet*datosSTD.IVA|number:2}} centimos</div>
        <div><em>Tarifa Mínima:</em> {{tarifaGuardada.tarifa_minima*datosSTD.IVA|number:2}} euros </div>
        <div style="margin-bottom:10px"><em>Tarifa Estándar:</em> {{tarifaGuardada.tarifa_std*datosSTD.IVA|number:2}} euros que incluye:</div>
        <div class="cajaInterna" style="max-width:95%" >
            <div><em>Minutos:</em> {{tarifaGuardada.incluidos_minutos|number:0}}</div>
            <div><em>El establecimiento esta Incluido:</em> {{tarifaGuardada.sn_4G}}</div>
            <div><em>Internet:</em> {{tarifaGuardada.incluidos_internet|number:0}} MB</div>
            <div><em>SMS:</em> {{tarifaGuardada.incluidos_sms|number:0}} </div>
        </div>
        
    </div>
</div>
    
<div class="cajaSin deslizarLado" ng-show="isSet(3,10)">
    <div class="cajaInterna" style="max-width: 96%;">
        <div style="margin-bottom:10px"><strong>DATOS EXTRA</strong></div>
        <div><em>Red Usada:</em> {{tarifaGuardada.red}}</div>
        <div><em>Informacion sobre Internet: </em> {{textoReduccion()}}</div>
        <div style="margin-bottom:15px"><em>Permite 4G:</em> {{tarifaGuardada.sn_4G}}</div>
        
        <div><em>Observaciones texto Corto:</em></div>
        <div style="margin-bottom:15px"> {{tarifaGuardada.observaciones}}</div>
        <div style="margin-bottom:15px"><a href="{{tarifaGuardada.link}}" target="_blank"><em>Acceso a  la Tarifa en su pagina oficial:</em> {{tarifaGuardada.nombre}}; {{tarifaGuardada.link}} </a></div>
        <div><em>Observaciones texto Largo: </em></div>
        <div style="margin-bottom:15px">{{tarifaGuardada.observacionesLargo}}</div>
        <div style="margin-bottom:15px"><em>Datos de la tarifa actualizados:</em> {{tarifaGuardada.fechaACT|date:'YYYY-mm-dd hh:mm'}}</div>
    </div>
</div>
    
</div>